@model int?

<select class="form-control" id="Type" name="Type">
    <option value="">-- 请选择 --</option>
    @foreach (ColumnType o in Enum.GetValues(typeof(ColumnType)))
    {
        <option value="@Convert.ToInt32(o)" @(Model == (int)o ? "selected='selected'" : "")>@o.DisplayName()</option>
    }
</select>