@model IEnumerable<Nestor.Models.Entities.Article>

@{
    Layout = null;
}

<DIV class="CON--cen-pd clear CON--cen-listel">
    <OL class="list-none metlist">
       @foreach (var item in Model)
       {
        <LI class="list top">
            <SPAN class="time">@item.PublishDate.ToDateString()</SPAN>
            <A href="@Url.Action("Index", new { controller = "Article", id = item.Id })" title="@item.Title" target="_blank">
               @item.Title.Substring(0, 16) ...
            </A>
        </LI>
       }
    </OL>
</DIV>