@model IEnumerable<Nestor.Models.Entities.Article>

@{
    Layout = null;
}

 <!-- BEGIN RECOMMEND NEWS -->
<div id="recommend-news">
    <h3 class="font-blue-madison"><i class="fa fa-leaf" style="font-size:20px;"></i>&nbsp;推荐新闻</h3>
    <div class="margin-bottom-10">
        <ul class="list-group" id="recommend-list">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <span class="fa fa-arrow-circle-right"></span>
                    <a href="/Article/@item.Id" title="@item.Title">@item.Title</a>
                </li>
            }
        </ul>
    </div>
</div>
<!-- END RECOMMEND NEWS -->

