@{
    Layout = null;
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                <form class="sidebar-search " action="#" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-search"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            <li class="start active open">
                <a href="javascript:;">
                    <i class="fa fa-home"></i>
                    <span class="title">主页</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="index.html">
                            <i class="icon-bar-chart"></i>
                            Default Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="index_2.html">
                            <i class="icon-bulb"></i>
                            New Dashboard #1
                        </a>
                    </li>
                    <li>
                        <a href="index_3.html">
                            <i class="icon-graph"></i>
                            New Dashboard #2
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-rocket"></i>
                    <span class="title">栏目管理</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="layout_horizontal_sidebar_menu.html">
                            栏目列表
                        </a>
                    </li>
                    <li>
                        <a href="index_horizontal_menu.html">
                            添加栏目
                        </a>
                    </li>
                    <li>
                        <a href="layout_horizontal_menu1.html">
                            Horizontal Mega Menu 1
                        </a>
                    </li>
                    <li>
                        <a href="layout_horizontal_menu2.html">
                            Horizontal Mega Menu 2
                        </a>
                    </li>
                    <li>
                        <a href="layout_language_bar.html">
                            Language Switch Bar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-diamond"></i>
                    <span class="title">文章管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="ui_general.html">
                            文章列表
                        </a>
                    </li>
                    <li>
                        <a href="ui_buttons.html">
                            添加文章
                        </a>
                    </li>
                    <li>
                        <a href="ui_icons.html">
                            <span class="badge badge-roundless badge-danger">new</span>Font Icons
                        </a>
                    </li>
                    <li>
                        <a href="ui_colors.html">
                            Flat UI Colors
                        </a>
                    </li>
                    <li>
                        <a href="ui_typography.html">
                            Typography
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-puzzle"></i>
                    <span class="title">UI Components</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="components_pickers.html">
                            Pickers
                        </a>
                    </li>
                    <li>
                        <a href="components_dropdowns.html">
                            Custom Dropdowns
                        </a>
                    </li>
                    <li>
                        <a href="components_form_tools.html">
                            Form Tools
                        </a>
                    </li>
                    <li>
                        <a href="components_jqueryui_sliders.html">
                            jQuery UI Sliders
                        </a>
                    </li>
                    <li>
                        <a href="components_knob_dials.html">
                            Knob Circle Dials
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-settings"></i>
                    <span class="title">Form Stuff</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="form_controls.html">
                            Form Controls
                        </a>
                    </li>
                    <li>
                        <a href="form_layouts.html">
                            Form Layouts
                        </a>
                    </li>
                    <li>
                        <a href="form_editable.html">
                            <span class="badge badge-roundless badge-warning">new</span>Form X-editable
                        </a>
                    </li>
                    <li>
                        <a href="form_fileupload.html">
                            Multiple File Upload
                        </a>
                    </li>
                    <li>
                        <a href="form_dropzone.html">
                            Dropzone File Upload
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-docs"></i>
                    <span class="title">Pages</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="page_portfolio.html">
                            <i class="icon-feed"></i>
                            <span class="badge badge-warning badge-roundless">new</span>Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="page_timeline.html">
                            <i class="icon-clock"></i>
                            <span class="badge badge-info">4</span>Timeline
                        </a>
                    </li>
                    <li>
                        <a href="page_coming_soon.html">
                            <i class="icon-flag"></i>
                            Coming Soon
                        </a>
                    </li>
                    <li>
                        <a href="page_blog.html">
                            <i class="icon-speech"></i>
                            Blog
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-user"></i>
                    <span class="title">Login Options</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="login.html">
                            Login Form 1
                        </a>
                    </li>
                    <li>
                        <a href="login_soft.html">
                            Login Form 2
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-briefcase"></i>
                    <span class="title">Data Tables</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="table_basic.html">
                            Basic Datatables
                        </a>
                    </li>
                    <li>
                        <a href="table_responsive.html">
                            Responsive Datatables
                        </a>
                    </li>
                    <li>
                        <a href="table_managed.html">
                            Managed Datatables
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-wallet"></i>
                    <span class="title">Portlets</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="portlet_general.html">
                            General Portlets
                        </a>
                    </li>
                    <li>
                        <a href="portlet_general2.html">
                            <span class="badge badge-roundless badge-danger">new</span>New Portlets #1
                        </a>
                    </li>
                    <li>
                        <a href="portlet_general3.html">
                            <span class="badge badge-roundless badge-danger">new</span>New Portlets #2
                        </a>
                    </li>
                </ul>
            </li>
            <li class="last ">
                <a href="charts.html">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Visual Charts</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->