<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NestorEntities" connectionString="metadata=res://*/Entities.NestorModel.csdl|res://*/Entities.NestorModel.ssdl|res://*/Entities.NestorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Nestor;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>