@{
    ViewBag.Title = "Home Page";
}

@section slider {
<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-40">
    <div class="fullwidthbanner-container revolution-slider">
        <div class="fullwidthabnner">
            <ul id="revolutionul">
                <!-- THE NEW SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="/Images/slider1.jpg" alt="">
                </li>
                <!-- THE FIRST SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="/Images/slider2.jpg" alt="">
                </li>
                <!-- THE SECOND SLIDE -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400">
                    <img src="/Images/slider3.jpg" alt="">
                </li>
                <!-- THE THIRD SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400">
                    <img src="/Images/slider4.jpg" alt="">
                    <div class="caption lfl slide_item_left"
                         data-x="30"
                         data-y="95"
                         data-speed="400"
                         data-start="1500"
                         data-easing="easeOutBack">
                    </div>
                </li>

                <!-- THE FORTH SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="/Images/slider5.jpg" alt="">
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>
<!-- END SLIDER -->
}

<!-- BEGIN SERVICE BOX -->
<div class="row service-box margin-bottom-40">
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-institution blue"></i></em>
            <span>基地介绍</span>
        </div>
        <p>江南大学是教育部直属、国家“211工程”重点建设高校（“九五”首批入选）和“985优势学科创新平台”建设高校。1995年更名为无锡轻工大学。</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-language red"></i></em>
            <span>项目介绍</span>
        </div>
        <p>学校以“笃学尚行，止于至善”为校训精神；以“彰显轻工特色，服务国计民生；创新培养模式，造就行业中坚”为办学理念；以“建设特色鲜明的研究型大学”为战略目标；被誉为“轻工高等教育明珠”。</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="fa fa-users green"></i></em>
            <span>团队介绍</span>
        </div>
        <p>学校坐落于风景如画的太湖之滨、雪浪山麓——江苏省无锡市蠡湖大道1800号；蠡湖校区（唯一校区）落成于2005年，占地面积3200亩、水域面积400亩、建筑面积107万平方米，以“曲水流觞，生态校园”为设计理念。</p>
    </div>
</div>
<!-- END SERVICE BOX -->
<!-- BEGIN RECENT WORKS -->
<div class="row recent-work margin-bottom-40">
    <div class="col-md-3">
        <h2><a href="#">最新成果</a></h2>
        <p>学校办学涵盖理、工、农、医、文、法、经济、管理、教育、艺术等学科门类10个；建有博士后流动站5个，一级学科博士点5个，一级学科硕士点24个，国家一级重点学科1个、二级重点学科5个；4个学科进入第三轮全国学科评估前五名，其中食品科学与工程蝉联第一，轻工技术与工程排名第二。</p>
    </div>
    <div class="col-md-9">
        <div class="owl-carousel owl-carousel3">
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work1.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目1</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work2.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目2</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work3.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目3</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work4.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目4</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work5.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目5</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work6.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目6</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work7.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work7.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目7</strong>
                    <b>江南大学</b>
                </a>
            </div>
            <div class="recent-work-item">
                <em>
                    <img src="/Images/work8.jpg" alt="Amazing Project" class="img-responsive">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="/Images/work9.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                </em>
                <a class="recent-work-description" href="#">
                    <strong>项目8</strong>
                    <b>江南大学</b>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END RECENT WORKS -->
<!-- BEGIN TABS AND TESTIMONIALS -->
<div class="row mix-block margin-bottom-40">
    <!-- TABS -->
    <div class="col-md-7 tab-style-1">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab">通知公告</a></li>
            <li><a href="#tab-2" data-toggle="tab">要闻动态</a></li>
            <li><a href="#tab-3" data-toggle="tab">学术活动</a></li>
            <li><a href="#tab-4" data-toggle="tab">最新项目</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane row fade in active" id="tab-1">
                <div class="col-md-3 col-sm-3">
                    <a href="assets/temp/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                        <img class="img-responsive" src="/assets/frontend/pages/img/photos/img7.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p class="margin-bottom-10">学校设置食品学院、生物工程学院、纺织服装学院、化学与材料工程学院、物联网工程学院、环境与土木工程学院、商学院、理学院、机械工程学院、设计学院、药学院、医学院、马克思主义学院、人文学院、外国语学院、法学院、数字媒体学院、体育部等18个学院。</p>
                    <p><a class="more" href="#">Read more <i class="icon-angle-right"></i></a></p>
                </div>
            </div>
            <div class="tab-pane row fade" id="tab-2">
                <p>学校建有食品科学与技术国家重点实验室、粮食发酵工艺与技术国家工程实验室等国家级科研平台8个、部省级平台29个；“十一五”以来承担并完成了“973”、“863”、国家重大专项、科技支撑计划、国家自然科学基金等在内的部省级以上科研项目2150项。</p>
            </div>
            <div class="tab-pane fade" id="tab-3">
                <p>获部省协会以上级奖励392项，其中国家科学技术奖15项；专利申请数、授权数稳居江苏省前三位、全国高校前列。以2013年为例，学校全年到账科研经费4.41亿元；
                发表三大检索论文1880篇、CSSCI论文325篇，最高影响因子达24.892；申请发明专利1392件，获授权发明专利451件；获国家科学技术奖3项，国际合作奖、何梁何利奖各1项，教育部“高校科研优秀成果奖（人文社科）”2项。</p>
            </div>
            <div class="tab-pane fade" id="tab-4">
                <p>学校现有教职员工3096人，其中专任教师1753人（含研究生导师788人），高级职称比例69%，博士学位比例52%，一年以上海外研修比例28%；拥有中国工程院院士1人，
                中组部“千人计划”、“青年千人计划”、“海外千人计划”入选者14人，“长江学者奖励计划”教授8人，“国家杰出青年基金”获得者3人，“新世纪百千万工程”国家级人选6人，
                “973项目”首席科学家1人，“万人计划”入选者3人；在新一届教育部各学科专业教学指导委员会委员中占据25席；拥有部省级创新团队24个，其中国家优秀教学团队3个；设置教师卓越中心，实施“至善青年学者”提升计划。</p>
            </div>
        </div>
    </div>
    <!-- END TABS -->
    <!-- TESTIMONIALS -->
    <div class="col-md-5 testimonials-v1">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <blockquote><p>学校现有国家综合改革试点专业4个、特色专业建设点15个，教育部“卓越工程师教育培养计划”专业９个。</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="/Images/zp0.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">吴林海</span>
                            <span class="testimonials-post">首席专家</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote><p>建有国家级人才培养模式创新实验区4个、实验教学示范中心2个，工程实践教育中心6个。</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="/Images/zp1.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">陈坚</span>
                            <span class="testimonials-post">校长</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote><p>拥有国家精品课程11门、双语教学示范课程5门，国家精品教材3部、“十一五”规划教材36部。</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="/Images/zp2.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">金征宇</span>
                            <span class="testimonials-post">副校长</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote><p>十二五”规划教材5部，获国家教学成果奖10项、江苏省优秀教学成果奖52项。</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="/Images/zp3.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">顾正彪</span>
                            <span class="testimonials-post">校长助理</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
            <a class="right-btn" href="#myCarousel" data-slide="next"></a>
        </div>
    </div>
    <!-- END TESTIMONIALS -->
</div>
<!-- END TABS AND TESTIMONIALS -->
<!-- BEGIN STEPS -->
<div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
    <div class="col-md-4 col-sm-4 front-step-col">
        <div class="front-step front-step1">
            <h2>开放平台</h2>
            <p>学校现有各类在籍在册学生8万人，其中全日制在校本科生19931人、博硕士研究生7627人。</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 front-step-col">
        <div class="front-step front-step2">
            <h2>合作竞争</h2>
            <p>在全球建有校友分会65家，拥有海内外校友近15万名；毕业生就业率稳定在95%以上。</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 front-step-col">
        <div class="front-step front-step3">
            <h2>创新研究</h2>
            <p>学校位列教育部全国就业工作50强，被微软、宝洁、联合利华、中粮等企业列为校园招聘目标高校。</p>
        </div>
    </div>
</div>
<!-- END STEPS -->
<!-- BEGIN CLIENTS -->
<div class="row margin-bottom-40 our-clients">
    <div class="col-md-3">
        <h2><a href="#">合作伙伴</a></h2>
    </div>
    <div class="col-md-9">
        <div class="owl-carousel owl-carousel6-brands">
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_1_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_1.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_2.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_3.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_4_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_4.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_5_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_5.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_6_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_6.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_7_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_7.png" class="color-img img-responsive" alt="">
                </a>
            </div>
            <div class="client-item">
                <a href="#">
                    <img src="/assets/frontend/pages/img/clients/client_8_gray.png" class="img-responsive" alt="">
                    <img src="/assets/frontend/pages/img/clients/client_8.png" class="color-img img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END CLIENTS -->