@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>江苏省食品安全基地 - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Global styles START -->
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <!-- Global styles END -->
    <!-- Page level plugin styles START -->
    <link href="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Page level plugin styles END -->
    <!-- Theme styles START -->
    <link href="/assets/global/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="/Content/site.css" rel="stylesheet" type="text/css" />
    <!-- Theme styles END -->
</head>
<body id="front" class="page-header-fixed page-footer-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/"><img src="/Images/logo.png" alt="logo" class="logo-default"></a>
                </div>
                <!-- END LOGO -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        @Html.Action("Menu", "Home")
    </div>
    <!-- END HEADER -->
    <!-- BEGIN PAGE CONTAINER -->
    <div class="home-container container-fluid">
        <div class="row empty-row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="meet-our-team">
                    <h3 class="blue-light">张三 <small>首席专家</small></h3>
                    <img src="/Images/zp.jpg" alt="" class="img-responsive" style="width: 255px; height: 180px;" />
                    <div class="team-info">
                        <p>
                            男，江苏省南京市人，管理学硕士，高级经济师；担任一级支行行长、省分行国际业务部总经理等职务。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line" style="margin-bottom: 0px;">
                        <div class="caption">
                            <i class="fa fa-weixin" style="color:#00a1f1;"></i>
                            <span class="caption-subject bold blue-light uppercase">
                                最新消息
                            </span>
                            <span class="caption-helper"></span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_tab1" data-toggle="tab">
                                    基地新闻
                                </a>
                            </li>
                            <li>
                                <a href="#portlet_tab2" data-toggle="tab">
                                    通知公告
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_tab1">
                                <div class="scroller" style="height: 220px;">
                                    <table class="table table-hover table-light table-recent">
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">首届太平洋优化国际学术会议召开</a>
                                            </td>
                                            <td style="width:80px;">
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">2014年第六届全国发酵工程学术研讨会会议通知</a>
                                            </td>
                                            <td>
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">我校开展党员发展质量情况专题调研</a>
                                            </td>
                                            <td>
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">江南大学举行2014年金秋体育节暨第十四届田径运动会</a>
                                            </td>
                                            <td>
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="#" class="primary-link">11月5日商学院“半月坛”</a>
                                            </td>
                                            <td>
                                                <span>10-10</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="#" class="primary-link">苏州市姑苏区科技镇长团一行赴我校考察</a>
                                            </td>
                                            <td>
                                                <span>10-10</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="#" class="primary-link">设计学院获国家自然科学基金资助</a>
                                            </td>
                                            <td>
                                                <span>10-10</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="portlet_tab2">
                                <div class="scroller" style="height: 220px;">
                                    <table class="table table-hover table-light table-recent">
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">2014年全国胶体与界面化学博士生学术论坛在我校成功召开</a>
                                            </td>
                                            <td style="width:80px;">
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">我校首场2014级新生转型教育报告会成功举办</a>
                                            </td>
                                            <td>
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">2014年第六届全国发酵工程学术研讨会会议通知</a>
                                            </td>
                                            <td>
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="javascript:;" class="primary-link">2014年第六届全国发酵工程学术研讨会会议通知</a>
                                            </td>
                                            <td>
                                                <span>10-15</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="#" class="primary-link">王存玉院士报告会暨客座教授授聘仪式举行</a>
                                            </td>
                                            <td>
                                                <span>10-10</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="#" class="primary-link">11月5日商学院“半月坛”</a>
                                            </td>
                                            <td>
                                                <span>10-10</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="fa fa-angle-double-right blue-light"></span>
                                                <a href="#" class="primary-link">设计学院获国家自然科学基金资助</a>
                                            </td>
                                            <td>
                                                <span>10-10</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-news">
                    <a href="#" class="btn bg-blue-light" title="重点实验室第一届学术委员第二次会议1024">
                        <span>
                            最新会议
                        </span>
                        <span class="news-info">重点实验室第一届学术委员第二次会议1024</span>
                        <em>
                            <i class="fa fa-calendar"></i>
                            2014-10-15
                        </em>
                        <i class="fa fa-briefcase top-news-icon"></i>
                    </a>
                    <a href="#" class="btn bg-blue-light">
                        <span>
                            最新成果
                        </span>
                        <div class="news-info">大米蛋白研究</div>
                        <em>
                            <i class="fa fa-calendar"></i>
                            2014-10-15
                        </em>
                        <i class="fa fa-graduation-cap top-news-icon"></i>
                    </a>
                    <a href="#" class="btn bg-blue-light">
                        <span>
                            最近活动
                        </span>
                        <div class="news-info">交互媒体设计的新趋势</div>
                        <em>
                            <i class="fa fa-calendar"></i>
                            2014-11-15
                        </em>
                        <i class="fa fa-globe top-news-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- BEGIN PAGE CONTENT INNER -->
        <!-- END PAGE CONTENT INNER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN PRE-FOOTER -->
    <div class="page-prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                    <h2>基地介绍</h2>
                    <p>
                        学校坐落于风景如画的太湖之滨、雪浪山麓——江苏省无锡市蠡湖大道1800号；
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                    <h2>关于我们</h2>
                    <p>
                        学校以“笃学尚行，止于至善”为校训精神；以“彰显轻工特色，服务国计民生；创新培养模
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                    <h2>联系我们</h2>
                    <address class="margin-bottom-40">
                        Phone: 800 123 3456<br>
                        Email: info@jiangnan.edu.cn
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->
    <!-- BEGIN FOOTER -->
    <!-- END FOOTER -->
    <!-- footer -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
        });
    </script>
    <script src="/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/nestor.js" type="text/javascript"></script>
    <!-- END CORE JAVASCRIPTS -->
    <script type="text/javascript">
        $(function () {
            //nestor.initCamera($('#camera_wrap'));
            nestor.initBackstretch();
        });
    </script>
</body>
</html>
