/* here you can put your own css to customize and override the theme */
body, h1, h2, h3, h4, h5, h6, .header-navigation, .page-title, .breadcrumb {
	font-family: '微软雅黑';
}

p{
	text-indent: 2em;
} 

body#admin p {
	text-indent: 0;
}

.header, body{
	background: #fff url("../Images/bg-pattern2.png") repeat scroll top center;
}

body#admin {
	background: #3d3d3d none;
}

.site-logo {
	padding-top: 20px;
	padding-bottom: 20px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.table-article thead tr {
	background-color:#a6a6a6;
}

.table-article thead tr th {
	height: 32px;
	font-size: 16px;
}

.table-article tbody tr{
	/*border-bottom: 1px dashed black;*/
}

.table-article tbody td{
	border: none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	height:30px;
}

.table-article tbody td a {
	font-size:14px;
}

.blog-item .blog-info {
	border: none;
}

img#column-top-image {
	margin-top: -23px;
	margin-left: -15px;
	width: 1170px;
}


div#article-title {
	border-left:5px solid #91d9e8;
	border-right:5px solid #91d9e8;
	padding:6px 6px 6px;           
	margin-bottom:10px;
	margin-right: 5px;
	/*background: url(../images/bg-title.png) repeat-x scroll 0 0; */	
	background-color: #e9edef;
	box-shadow: 10px -5px 2px #888;
}

div#article-title h1 {
	margin: 0px;
}

div#article-content, div#column-content {
	padding: 10px 20px 40px;
	box-shadow: 10px -10px 5px #888;
	border-radius: 5px !important;
}

div#article-content #main-content {
	overflow-x: hidden;
}

div.blog-sidebar {
	border-left: 4px solid #f0f0f0;
}

div#recent-news, div#recommend-news {
	margin-top:15px;
}

div#recent-news h2, div#recommend-news h2, div#sibling-column h2 {
	text-shadow: 2px 2px #f0f0f0;
}

ul#recent-list li, ul#recommend-list li{
	padding: 5px 0;            
	border-left: none;
	border-right: none;
	border-bottom: 1px dotted #808080;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-right: 2px;
}
