/* here you can put your own css to customize and override the theme */
body, h1, h2, h3, h4, h5, h6{
	font-family: '微软雅黑';
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-menu, .page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a,
.dropdown-menu {
	font-family: '微软雅黑';
}

p{
	text-indent: 2em;
} 

body#admin p {
	text-indent: 0;
}

body#admin {
	background: #3d3d3d none;
}

body#front {
	background: none;
}

body#front .full-bg-slider {
	position: absolute;
	top:0;
	width:100%;
	height:100%;	
}

body#front .full-bg-slider .container-fluid {
	padding: 0;
}

.full-bg-slider .page-slider {
	bottom: 0;
	height: 100%;
	left: 0;
	margin-bottom: 0!important;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1000;
}

.blue-light {
	color: #00a1f1;
}

.bg-blue-light {
	background-color: #00a1f1;
}

body#front .page-header {
	background: url("../Images/sub_nav.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	/*background-color: #00a1f1;*/
	opacity: 0.8;
}

.page-header .page-header-top {
	
}


body#front .page-header .page-header-menu {
	background: none;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
	color: #fff;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.open > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover {
  color: white;
  background: #00a1f1 !important;
}

.page-header .page-header-menu .search-form .input-group .input-group-btn .btn.submit {
	top: 7px;
}

html, body#front {
	height: 100%;
	width: 100%;
}

.navbar-fixed-top, .page-header {
  left: 0;
  position: fixed;
  right: 0;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1030;
}

body#front .home-container {
	/*position: fixed;
	top:40%;*/
	height: 100%;
}

body#front .empty-row {
	height: 42%;
}

body#front .home-container .col-md-4 {
	padding: 0 5px;	
}

body#front .portlet.light {
	height: 300px;
	margin-bottom: 0;
	padding: 10px 20px;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
	font-size: 18px;
}

.table.table-light > tbody > tr > td {
	color: #333;
}

.primary-link {
	color: #333;
	font-weight: 300;
}

body#front  .portlet.light {
	background: none repeat scroll 0 0 #fff;
	opacity: 0.9;
}

body#front .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
	font-size: 20px;
}

body#front .tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #00a1f1;
}

.meet-our-team {
	float: right;
	width: 255px;
	height: 300px;
	background: none repeat scroll 0 0 #f5f5f5;
	opacity: 0.9;
}

.meet-our-team h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
	background: #f9f9f9;
}

.meet-our-team small { 
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}

.meet-our-team .team-info {
	padding: 10px 10px 5px;
	overflow: hidden;
	background: #f5f5f5;
}

.meet-our-team .team-info p{
	text-indent: 0;
	margin:0;
}

.top-news {
	margin: 0;
	width: 250px;
}

.top-news a{
	height: 98.5px;
	margin-bottom: 2px;
	color:#fff;
}

.top-news a.btn:hover {
	opacity: 1;
	color: #fff;
}

.top-news a.btn {
	opacity: 0.8;
}

.top-news span {
	font-size: 16px;
}

.top-news div.news-info {
	font-size: 14px;
	display: block;	
	height: 38px;
	word-wrap: break-word;
}
.page-prefooter h2 {
	color: #e9edef;
}

.page-footer-fixed .page-prefooter, .page-footer-fixed .page-footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 10000;
	padding: 12px 0;
	opacity: 0.8;
	color: #fff;
	background: url("../Images/sub_nav.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

.page-content, .page-header {
	background: none;	
}

.page-header .page-header-top .page-logo .logo-default {
	margin: 10px 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.table-recent {
	table-layout: fixed;
}

.table-recent tbody td:first-child{	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}

.table-article thead tr {
	background-color:#26bea0;
}

.table-article thead tr th {
	height: 32px;
	font-size: 16px;
}

.table-article tfoot tr th a, .table-article tfoot tr th i{
	color: #578ebe;
}

.table-article tbody tr{
	/*border-bottom: 1px dashed black;*/
}

.table-article tbody td{
	border: none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	height:30px;
}

.table-article tbody td a {
	font-size:14px;
}

.blog-item .blog-info {
	border: none;
}

.column-bar {
	background: url(../Images/column-top.jpg) repeat scroll 0 0 #fff;
	margin-top: -23px;
	margin-bottom: 20px;
	height: 62px;
}

.column-bar .page-title {
	padding: 19px 0;
}

.column-bar .page-title > h1 {
  color: #555555;
  font-family: '黑体';
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.column-bar .page-title > h1 > small {
  color: #2c3e50;
  font-family: '微软雅黑';
  font-size: 13px;
  font-weight: 400;
}

img#column-top-image {
	margin-top: -23px;
	margin-left: -15px;
	width: 1170px;
}


div#article-title {
	border-left:5px solid #91d9e8;
	border-right:5px solid #91d9e8;
	padding:6px 6px 6px;           
	margin-bottom:10px;
	margin-right: 5px;
	/*background: url(../images/bg-title.png) repeat-x scroll 0 0; */	
	background-color: #e9edef;
	box-shadow: 10px -5px 2px #888;
}

div#article-title h1 {
	margin: 0px;
}

div#article-content, div#column-content {
	padding: 10px 20px 40px;
	box-shadow: 10px -10px 5px #888;
	border-radius: 5px !important;
}

#main-content {
	display:block;
	overflow-x: hidden;
}

div.blog-sidebar {
	border-left: 4px solid #f0f0f0;
}

div#recent-news, div#recommend-news {
	margin-top:15px;
}

div#recent-news h2, div#recommend-news h2, div#sibling-column h2 {
	text-shadow: 2px 2px #f0f0f0;
}

ul#recent-list li, ul#recommend-list li{
	padding: 5px 0;            
	border-left: none;
	border-right: none;
	border-bottom: 1px dotted #808080;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-right: 2px;
}

div#user-info dt {
	font-size: 14px;
}

div#user-info dd {
	font-size: 14px;
	margin-bottom: 10px;
}

.content-search-view2 {
	background-color: #95a5a6;
}
.search-result-item {
	padding-left: 20px;
}