body, h1, h2, h3, h4, h5, h6{
	font-family: '微软雅黑';
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-menu, .page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a,
.dropdown-menu {
	font-family: '微软雅黑';
}

html, body#front {
	height: 100%;
	width: 100%;
}

body#front .home-container {
	height: 100%;
}

p{
	text-indent: 2em;
}

.blue-light {
	color: #00a1f1;
}

.bg-blue-light {
	background-color: #00a1f1;
}

body#front .page-header-fixed .page-header {
  left: 0;
  position: fixed;
  right: 0;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1030;
}

body#front .page-header {
	background: url("../Images/sub_nav.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF9F9F9F,endColorstr=#BF9F9F9F);
}

.page-header {
	background: none #00a1f1;
}

.page-header .page-header-top .page-logo .logo-default {
	margin: 10px 0;
}

.page-header .page-header-menu {
	background: none;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
	color: #fff;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.open > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover {
  color: white;
  background: #00a1f1 !important;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
  color: white;
  background: #00a1f1 !important;
}

.page-header .page-header-menu .search-form .input-group .input-group-btn .btn.submit {
	top: 7px;
}

.page-header .page-header-menu .search-form .input-group, .page-header .page-header-menu .search-form .input-group .form-control {
	background-color: #fff;
}

body#front .empty-row {
	height: 42%;
}

body#front .home-container .col-md-4 {
	padding: 0 5px;	
}

body#front .portlet.light {
	height: 301px;
	margin-bottom: 0;
	padding: 10px 20px;
}

body#front .portlet.light > .portlet-title > .caption > .caption-subject {
	font-size: 18px;
}

body#front .portlet.light > .portlet-title > .caption > .caption-subject {
	font-size: 18px;
}

body#front .table.table-light > tbody > tr > td {
	color: #333;
}

body#front .primary-link {
	color: #333;
	font-weight: 300;
}

body#front  .portlet.light {
	background: none repeat scroll 0 0 #fff;
	opacity: 0.9;
}

body#front .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
	font-size: 20px;
}

body#front .tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #00a1f1;
}

.meet-our-team {
	float: right;
	width: 255px;
	height: 301px;
	background: none repeat scroll 0 0 #f5f5f5;
	opacity: 0.9;
}

.meet-our-team h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
	background: #f9f9f9;
}

.meet-our-team small { 
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}

.meet-our-team .team-info {
	padding: 10px 10px 5px;
	overflow: hidden;
	background: #f5f5f5;
}

.meet-our-team .team-info p{
	text-indent: 0;
	margin:0;
}


.home-news {
	margin: 0;
	padding-left: 0;
	width: 250px;
	color: #fff;
}

.home-news .news-block {
	display:block;
	width: 250px;
	height: 97px;
	background-color: #00a1f1;
	margin-bottom: 5px;
	padding: 10px;
	position:relative;
	text-align: left;
	opacity: 0.8;
}

.home-news li:hover{
	opacity: 1;
	color: #fff;
}

.home-news .last {
	margin-bottom: 0px;
}

.home-news .news-block h4 {
	margin-top: 0px;
	font-weight: 800;
}

.home-news .news-block p {
	text-indent: 0;
}

.home-news .news-block a {
	display:block;
	color:#fff;
	height: 38px;
}

.home-news em {
  display: block;
  font-size: 13px;
  font-style: normal;
  margin-bottom: 0;
}

.home-news .top-news-icon {
  bottom: 15px;
  font-size: 35px;
  opacity: 0.3;
  position: absolute;
  right: 8px;
}


.page-prefooter h2 {
	color: #e9edef;
}

.page-footer-fixed .page-prefooter, .page-footer-fixed .page-footer {
	background: none;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 10000;
	padding: 12px 0;	
	color: #fff;
	background: url("../Images/sub_nav.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF9F9F9F,endColorstr=#BF9F9F9F);
}

.side-content {
	margin-bottom: 30px;
}

.side-content .portlet {
	padding: 0;
}

.side-content .portlet.light > .portlet-title > .caption > .caption-subject {
	font-size: 20px;
}

.side-content .portlet > .portlet-title
{
	margin-bottom: 0px;
}

.side-content h3{
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 10px;
	text-shadow: 2px 2px #f0f0f0;
}

.side-content hr {
	margin: 5px 0;
}

/* article page */
div#article-content, div#column-content {
	padding: 10px 20px 40px;
	box-shadow: 10px -10px 5px #888;
	border-radius: 5px !important;
}

#main-content {
	display:block;
}

div.blog-sidebar {
	border-left: 4px solid #f0f0f0;
}


ul#recent-list li, ul#recommend-list li{
	padding: 5px 0;            
	border-left: none;
	border-right: none;
	border-bottom: 1px dotted #808080;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-right: 2px;
}

div#user-info dt {
	font-size: 14px;
}

div#user-info dd {
	font-size: 14px;
	margin-bottom: 10px;
}


/*--Block Article--*/
.blog-page {
  padding-bottom: 20px;
}

.blog-page h1 {
  margin-bottom: 20px;
}

.blog-page h2 a {
  color: #000;
}

.blog-page h2 a:hover {
  color: #0d638f;
  text-decoration: none;
}

.blog-page hr {
  margin-top: 30px !important;
}

.blog-page .article-block {
  padding-bottom: 20px;
}

.blog-page .news-img img {
  margin-top: 9px;
}

.blog-page .blog-tag-data ul {
  margin-bottom: 5px;
}

.blog-page .blog-tag-data li {
  padding: 0;
}

.blog-page .blog-tag-data li i {
  color: #78cff8;
}

.blog-page .blog-tag-data li a {
  padding: 0;
  color: #555;
  margin-right: 8px;
}

.blog-page .blog-tag-data {
  margin-bottom: 15px;
}

.blog-page .blog-tag-data ul.blog-tags a {
  background: #eee;
  padding: 1px 4px;
  margin: 0 4px 4px 0;
  display: inline-block;
}

.blog-page .blog-tag-data ul.blog-tags a:hover {
  background: #ddd;
  text-decoration: none;
}

.blog-page .blog-tag-data .blog-tag-data-inner {
  text-align: right;
}

.blog-page .blog-tag-data img {
  margin-bottom: 12px;
}

.blog-page .blog-article {
  padding-bottom: 20px;
}

.blog-page .blog-article h3,
.blog-page .blog-article h2,
.blog-page .blog-article h1,
.blog-page .blog-article h4 {
  margin-top: 0;
}

/*--Block Sidebar--*/
.blog-sidebar h2 {
  font-size: 38.5px;
  margin-bottom: 20px;
}

/*For Responsive*/
@media (max-width: 768px) {
  .blog-page .blog-tag-data .blog-tag-data-inner {
    text-align: left;
  }
}
